@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
#header {
  display: flex;
  justify-content: space-between;
  max-width: 1400px;
  margin: 10px auto;
  padding: 10px 20px;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1% 4%;
}
.nav-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1% 4%;
  list-style: none;
  gap: 2rem;
}

.nav-item a {
  text-decoration: none;
  transition: all 0.5s ease;
}
.nav-item:hover a {
  color: red;
}
